	body{
		font-family: Bebas Neue;
		font-size: 22px;
		line-height: 1.5;
		padding:0;
		margin: 0;
		background-color: #f4f4f4
	}
	.container{
		width: 80%;
		margin:auto;
		overflow: hidden;	

	}
	ul{
		margin: 0;
		padding: 0;
	}
	.button_1{
		height: 38px;
		background: #e8491d;
		border:0;
		padding-left: 20px;
		padding-right: 20px;
		color: #ffffff;

	}

	header{
		background:#35424a;
		color:#ffffff;
		padding-top: 30px;
		min-height: 70px;
		border-bottom: #e8491d 3px solid;
	}

	header a{
		color: #ffffff;
		text-decoration:none;
		text-transform: uppercase;
		font-size: 16px;

	} 

	header li{
		float: left;
		display: inline;
		padding: 0 20px 0 20px;

	}

	header #branding{
		float: left;
	}
	header #branding{
		margin: 0;	}

	header nav{
		float: right;
		margin-top:  10px; 
	}

	header .highlight, header .current a{
	color: #df23b6;
	font-weight: bold;

	}
	header a:hover{
		color: #cccccc1c;
		font-weight: bold;;
	}

	#showcase{
		min-height: 400px;
		background:url('../img/showcase.png') no-repeat 0 -200px;
		text-align:center;
		color: #ffffff

	}
 
 	#showcase h1{
 		margin-top: 100px;
 		font-size: 130px;
 	}
 	#showcase p {
 		font-size: 40px;
 	}

 	#newsletter{
 		padding: 15px;
 		color: #ffffff;
 		background: #35424a

 	}

 	#newsletter h1{
 		float: left;
 	}

 	#newsletter form{
 		float: right;
 		margin-top: 15px;
 	}

 	#newsletter input[type="email"]{
 		padding: 4px;
 		height: 25px;
 		width: 250px;
 	}

 	#boxes{
 		margin-top: 20px;
 	}
 	#boxes .box{
 		float: left;
 		text-align: center;
 		width: 100%;
 		padding: 10px;
 	}
 	
 	#boxes .text{
 		font-size:80px;
 	}
 	#boxes .text2{
 		font-size: 20px;
 	}

 	footer{
 		padding:20px;
 		margin-top:1000px;
 		color: #ffffff;
 		background-color: #e8491d;
 		text-align:center;
 		font-size: 20px;

 	}